.about {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;

  img {
    width: 70%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 3/4;
    border-radius: 1.5rem;
    align-self: flex-start;
    justify-self: center;
    max-width: 22rem;
  }

  @include md {
    grid-template-columns: 5fr 4fr;

    img {
      grid-column: 2/2;
      width: 65%;
    }

    p {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}
