.slide-right{
  opacity: 0;
  transform: translate3d(-3rem, 0rem, 0rem);
  transition: all 350ms ease-in-out 250ms;
}

.slide-left{
  opacity: 0;
  transform: translate3d(3rem, 0rem, 0rem);
  transition: all 350ms ease-in-out 250ms;
}

.slide-up{
  opacity: 0;
}

.slide-down{
  opacity: 0;
}


.animate-slide-left-or-right{
  opacity: 1;
  transform: translate3d(0rem, 0rem, 0rem);
}

@keyframes animateSlideDown{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
    transform: translate3d(0rem, -3rem, 0rem);
  }
  100%{
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem)
  }
}

.animate-slide-down{
  opacity: 0;
  animation: animateSlideDown 350ms ease-in-out forwards;
}

@keyframes slideDownExit{
  0%{
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem)
  }
  50%{
    opacity: 0;
    transform: translate3d(0rem, -3rem, 0rem);
  }
  100%{
    opacity: 0;
    transform: translate3d(0rem, 0rem, 0rem)
  }
}

.slide-down-exit{
  opacity: 1;
  animation: slideDownExit 350ms ease-in-out forwards;
}

@keyframes animateSlideUp{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
    transform: translate3d(0rem, 3rem, 0rem);
  }
  100%{
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem)
  }
}

.animate-slide-up{
  opacity: 0;
  animation: animateSlideUp 350ms ease-in-out forwards;
}

@keyframes slideUpExit{
  0%{
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem)
  }
  50%{
    opacity: 0;
    transform: translate3d(0rem, 3rem, 0rem);
  }
  100%{
    opacity: 0;
    transform: translate3d(0rem, 0rem, 0rem)
  }
}

.slide-up-exit{
  opacity: 1;
  animation: slideUpExit 350ms ease-in-out forwards;
}
