
.aside-menu{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  z-index: 50;
  height: 100%;
  justify-content: flex-end;
  background-color: transparent;
  align-items: center;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 10ms cubic-bezier(0.39, 0.575, 0.565, 1) 150ms;

  .bg-div{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(.5rem);
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: -1;
  }

  .menu-content{
    display: flex;
    width: 28rem;
    max-width: 80%;
    height: 100%;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(6rem);
    transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1) 200ms;

    .btn-close{
      position: absolute;
      top: 1.25rem;
      right: 5vw;
      background-color: transparent;
      cursor: pointer;
      transform: rotateZ(-180deg) scale(0.2);
      opacity: 0;
      transition: transform 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms;

      &:hover{
        .close-icon{
          color: var(--accent);
        }
      }

      .close-icon{
        font-size: 2.25rem;
        color: var(--text)
      }
    }

    nav{
      display: flex;
      justify-self: self-end;
      justify-content: center;
      align-items: center;
  
      ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        gap: 2.25rem;
    
        li{
          list-style: none;
          font-size: 1.5rem;
          font-weight: 600;
          cursor: pointer;

          a{
            display: flex;
            align-items: flex-end;
            gap: .75rem;
            text-decoration: none;
            color: var(--p-color);

            span{
              font-size: 1.125rem;
              font-weight: 700;
              color: var(--accent);
              font-family: var(--secondary-font);
            }

            &:hover{
              color: var(--accent);
            }
          }
        }
      }
    }
  }
  
  @include md{
    display: none;
  }
}

.show-aside{
  opacity: 1;
  pointer-events: all;

  .menu-content{
    opacity: 1;
    transform: translateX(0rem);
    pointer-events: all;
    transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 200ms;

    .btn-close{
      transform: rotateZ(0deg);
      opacity: 1;
      transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 300ms;
    }
  }
}
