
.bg-texture{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/bgTexture.jpg");
  opacity: var(--bg-texture-opacity);
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-color: var(--background);
  background-blend-mode: var(--bg-blend-mode);
  background-position: center center;
}