
.bg-texture{
  position: fixed;
  inset: -4rem;
  background-image: url("../../assets/bgTexture.jpg");
  opacity: var(--bg-texture-opacity);
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-color: var(--background);
  background-blend-mode: var(--bg-blend-mode);
  background-position: bottom center;
}

@keyframes shift{
  0%{
    transform: translate3d(1%, 0%, 0rem);
  }
  100%{
    transform: translate3d(-1%, 0%, 0rem);
  }
}