.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: var(--bg-gradient);
  padding: 3rem 2rem !important;
  margin: 6rem 0;
  border-radius: 2rem;
  @include box-shadow;

  @include sm{
    padding: 3rem 3rem !important;
  }

  h2{
    @include gradient-text;
    font-weight: 900;
    text-align: center;
  }

  p{
    text-align: center;
    max-width: 50ch;
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
  }

  a{
    padding: 1.125rem 2.25rem;
    background-image: var(--gradient);
    border-radius: 999px;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--btn-text);
    text-decoration: none;
    text-align: center;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;

    svg{
      flex-shrink: 0;
      display: none;
      
      @include xs{
        display: block;
      }
    }
  }
}