.footer{
  width: 100%;
  padding: 2rem 1.5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  opacity: 1;
  transform: translateY(0);
  transition: all 350ms ease-in-out 300ms;
  pointer-events: none;

  a{
    text-decoration: none;
    color: var(--text);

    & > svg{
      transition: color 500ms ease, transform 500ms ease;
      
      &:hover{
        color: var(--accent);
        transform: translateY(-.1rem);
      }
    }
  }

  .social-medias{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 20rem;

    a{
      svg{
        font-size: 1.75rem;
      }
    }

    @for $item from 1 through 5{
      a:nth-child(#{$item}n){
        transform: translateY(-1rem);
        opacity: 0;
        transition: transform 250ms ease 150ms * ($item - 1), opacity 250ms ease 150ms * ($item - 1);
      }
    }
  }

  .footer-desc{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 250ms ease 150ms * 5, transform 250ms ease 150ms * 5;

    & > a{
      font-size: 1.25rem;
      line-height: 1.6;
      font-family: var(--primary-font), sans-serif;
      font-weight: 500;
      transition: transform 250ms ease;
      display: block;
    
      span{
        @include gradient-text;
        font-weight: 700;
      }
      
      &:hover{
        transform: translateY(-.1rem);
      }
    }
  }
}

.animate-footer{
  transition: all 350ms ease-in-out 300ms;
  pointer-events: all;

  .social-medias{
    a{
      transform: translateY(0) !important;
      opacity: 1 !important;
    }
  }

  .footer-desc{
    opacity: 1;
    transform: scale(1);
  }
}
