@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary-font: "Urbanist", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
}

:root[data-theme="dark"]{
  --text: #ffffff;
  --background: #07070d;
  --primary: #3a5e96;
  --secondary: #101b31;
  --accent: #59a89a;
  --btn-text: #ffffff;
  --p-color: #ffffff;
  --box-shadow: inset 0 0 10px 1px #24312e;
  --semi-transparent: #07070d88;
  --bg-texture-opacity: 0.55;
  --bg-blend-mode: luminosity;

  --gradient: linear-gradient(to left, var(--primary), var(--accent));
  --bg-gradient: radial-gradient(ellipse at top right, var(--accent) -200%, var(--background));
}

:root[data-theme="light"]{
  --text: #07070d;
  --background: #eeeeee;
  --primary: #51b1b3;
  --secondary: #b3c6cf;
  --accent: #1b4ea0;
  --btn-text: #f8fbfc;
  --p-color: #000000;
  --box-shadow: 0px 7px 10px 2px #00000054;
  --semi-transparent: #eeeeeecc ;
  --bg-texture-opacity: 0.55;
  --bg-blend-mode: difference;

  --bg-gradient: radial-gradient(ellipse at top left, var(--secondary) -100%, var(--background));
  --gradient: linear-gradient(to right, var(--primary), var(--accent));
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html{
  background-color: var(--background);
  color: var(--text);
  scroll-behavior: smooth !important;
}

body{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@mixin gradient-text{
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  overflow-x: hidden;
}

section{
  display: flex;
  flex-direction: column;
  width: 90%;

  @include md{
    width: 95%;
  }

  @include lg{
    width: 85%;
  }

  &:nth-of-type(n+2){
    padding: 6rem 0;

    @include md{
      padding: 6rem 0;
    }
  }
}

h2{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  @include gradient-text;
  color: var(--text);
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  text-align: end;

  span{
    font-family: var(--secondary-font);
    font-size: 1.75rem;
    line-height: 1.4;
    @include gradient-text;
  }
}

p{
  font-size: 1.25rem;
  line-height: calc(1.25 * 1.2);
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--p-color);
}

.sub-header{
  margin-bottom: 1.5rem;
  max-width: 55ch;
  margin-bottom: 2rem;
}

@mixin box-shadow{
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}
