
.hero{
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 7rem 0 7rem 0;
   min-height: 100vh;
   gap: 1.5rem;

   h1{
    font-size: clamp(1.25rem, 6vw, 1.5rem);
    font-weight: 600;
    font-family: var(--secondary-font);

    .name{
      display: block;
      font-size: clamp(2.75rem, 14vw, 4rem);
      font-weight: 700;
      font-family: var(--primary-font);
      @include gradient-text;
    }
   }

   p{
    max-width: 47ch;
    margin-bottom: 1.25rem;
   }

   .btn-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;

    @include sm{
      flex-wrap: wrap;
    }

    button, a{
      font-size: 1.25rem;
      padding: 1.125rem 2.25rem;
      text-decoration: none;
      cursor: pointer;
      border-radius: 9999px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      svg{
        display: none;
        
        @include xs{
          display: block;
        }
      }
    }

    .btn-resume{
      background: var(--gradient);
      color: var(--btn-text);
    }

    .btn-contact{
      background-color: var(--secondary);
      color: var(--text);
    }
   }

  @include sm{
    .btn-container{
      flex-direction: row;
    }
  }

   @include md{

    h1{
      font-size: clamp(1.5rem, 3vw, 1.75rem);

      .name{
        font-size: clamp(4.5rem, 8vw, 5rem);
      }
    }
   }

   
}