
.hero{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7rem 0 7rem 0;
  min-height: 100vh;
  gap: 1rem;

  h1{
    font-size: clamp(1.25rem, 6vw, 1.5rem);
    font-weight: 600;
    font-family: var(--primary-font);

    .name{
      display: block;
      font-size: clamp(2.75rem, 14vw, 4rem);
      line-height: 1.1;
      font-weight: 700;
      @include gradient-text;
    }
  }

  p{
    max-width: 45rem;
    margin-bottom: 1.25rem;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: stretch;

    @include sm{
      flex-wrap: wrap;
    }

    button, a{
      font-size: 1.25rem;
      padding: 1.25rem 2rem;
      text-decoration: none;
      cursor: pointer;
      border-radius: 9999px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      @include button-hover;

      svg{
        display: none;
        
        @include xs{
          display: block;
        }
      }
    }

    .btn-resume{
      background: var(--gradient);
      color: var(--btn-text);
    }

    .btn-contact{
      background-color: var(--secondary);
      color: var(--btn-text);
    }
  }

  @include sm{
    gap: 1.25rem;

    h1 .name{
      line-height: 1.2;
    }

    .btn-container{
      flex-direction: row;
    }
  }

  @include md{

    h1{
      font-size: clamp(1.5rem, 3vw, 1.75rem);

      .name{
        font-size: clamp(3.5rem, 8vw, 5rem);
      }
    }

    .btn-container{
      gap: 1.75;
      button, a{
        padding: 1.25rem 2.5rem;
      }
    }
  }

   
}