
.pre-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3rem;
  background-color: var(--background);
  z-index: 99999;

  .logo{
    background-color: var(--background);
    aspect-ratio: 90/65;
    width: 10rem;
    height: auto;
    mask: url("../../assets/preloader.svg") center center / contain no-repeat;
    -webkit-mask: url("../../assets/preloader.svg") center center / contain no-repeat;

    position: relative;

    @include md{
      width: 12rem;
    }
    
    .animation{
      height: 100%;
      width: 100%;
      background-image: var(--gradient);
      animation: animateLogo 3000ms ease-in-out forwards;
      position: absolute;
    }

    @keyframes animateLogo {
      0%{
        left: -100%;
      }
      100%{
        left: 0%;
      }
    }
  }
}

.hide-pre-loader{
  display: none;
}