@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-font: "Urbanist", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
}

:root[data-theme=dark] {
  --text: #ffffff;
  --background: #07070d;
  --primary: #3a5e96;
  --secondary: #101b31;
  --accent: #59a89a;
  --btn-text: #ffffff;
  --p-color: #ffffff;
  --box-shadow: inset 0 0 10px 1px #24312e;
  --semi-transparent: #07070d88;
  --bg-texture-opacity: 0.55;
  --bg-blend-mode: luminosity;
  --gradient: linear-gradient(to left, var(--primary), var(--accent));
  --bg-gradient: radial-gradient(ellipse at top right, var(--accent) -200%, var(--background));
}

:root[data-theme=light] {
  --text: #07070d;
  --background: #eeeeee;
  --primary: #51b1b3;
  --secondary: #b3c6cf;
  --accent: #1b4ea0;
  --btn-text: #f8fbfc;
  --p-color: #000000;
  --box-shadow: 0px 7px 10px 2px #00000054;
  --semi-transparent: #eeeeeecc ;
  --bg-texture-opacity: 0.55;
  --bg-blend-mode: difference;
  --bg-gradient: radial-gradient(ellipse at top left, var(--secondary) -100%, var(--background));
  --gradient: linear-gradient(to right, var(--primary), var(--accent));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: var(--background);
  color: var(--text);
  scroll-behavior: smooth !important;
}

body {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media (min-width: 769px) {
  section {
    width: 95%;
  }
}
@media (min-width: 1025px) {
  section {
    width: 85%;
  }
}
section:nth-of-type(n+2) {
  padding: 6rem 0;
}
@media (min-width: 769px) {
  section:nth-of-type(n+2) {
    padding: 6rem 0;
  }
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  color: var(--text);
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  text-align: end;
}
h2 span {
  font-family: var(--secondary-font);
  font-size: 1.75rem;
  line-height: 1.4;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--p-color);
}

.sub-header {
  margin-bottom: 1.5rem;
  max-width: 55ch;
  margin-bottom: 2rem;
}

.slide-right {
  opacity: 0;
  transform: translate3d(-3rem, 0rem, 0rem);
  transition: all 350ms ease-in-out 250ms;
}

.slide-left {
  opacity: 0;
  transform: translate3d(3rem, 0rem, 0rem);
  transition: all 350ms ease-in-out 250ms;
}

.slide-up {
  opacity: 0;
}

.slide-down {
  opacity: 0;
}

.animate-slide-left-or-right {
  opacity: 1;
  transform: translate3d(0rem, 0rem, 0rem);
}

@keyframes animateSlideDown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate3d(0rem, -3rem, 0rem);
  }
  100% {
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem);
  }
}
.animate-slide-down {
  opacity: 0;
  animation: animateSlideDown 350ms ease-in-out forwards;
}

@keyframes slideDownExit {
  0% {
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem);
  }
  50% {
    opacity: 0;
    transform: translate3d(0rem, -3rem, 0rem);
  }
  100% {
    opacity: 0;
    transform: translate3d(0rem, 0rem, 0rem);
  }
}
.slide-down-exit {
  opacity: 1;
  animation: slideDownExit 350ms ease-in-out forwards;
}

@keyframes animateSlideUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate3d(0rem, 3rem, 0rem);
  }
  100% {
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem);
  }
}
.animate-slide-up {
  opacity: 0;
  animation: animateSlideUp 350ms ease-in-out forwards;
}

@keyframes slideUpExit {
  0% {
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem);
  }
  50% {
    opacity: 0;
    transform: translate3d(0rem, 3rem, 0rem);
  }
  100% {
    opacity: 0;
    transform: translate3d(0rem, 0rem, 0rem);
  }
}
.slide-up-exit {
  opacity: 1;
  animation: slideUpExit 350ms ease-in-out forwards;
}

header {
  width: 100%;
  padding: 1.5rem 5%;
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: transparent;
  backdrop-filter: blur(0rem);
  -webkit-backdrop-filter: blur(0rem);
  z-index: 40;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  transition: top 250ms cubic-bezier(0.39, 0.575, 0.565, 1), background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1), backdrop-filter 250ms cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-backdrop-filter 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
header .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
header .logo-container .logo {
  -webkit-mask: url("../../assets/logo.svg") no-repeat;
          mask: url("../../assets/logo.svg") no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: left center;
          mask-position: left center;
  height: 3rem;
  background-image: var(--gradient);
  aspect-ratio: 99/61;
}
header nav {
  display: none;
}
header nav ul {
  display: flex;
  gap: 2.5rem;
}
header nav ul li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
header nav ul li a {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--p-color);
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
header nav ul li a span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent);
  font-family: var(--secondary-font);
}
header nav ul li a:hover {
  color: var(--accent);
}
header .toggle-container {
  display: grid;
  background-color: transparent;
  color: transparent;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
header .toggle-container .toggle {
  background-color: transparent;
  cursor: pointer;
  grid-column: 1/-1;
  grid-row: 1/-1;
  opacity: 0;
  animation: showToggle 200ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms forwards;
}
header .toggle-container .toggle > svg {
  color: var(--text);
  font-size: 2rem;
  transition: all 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
header .toggle-container .toggle > svg:hover {
  color: var(--accent);
  transform: scale(1.05);
}
@keyframes showToggle {
  0% {
    opacity: 0;
    transform: rotate(-270deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
header .toggle-container .hide-toggle {
  pointer-events: none;
  z-index: -1;
  opacity: 1;
  animation: hideToggle 300ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes hideToggle {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(630deg);
  }
}
header .btn-menu {
  background-color: transparent;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
header .btn-menu:hover .menu-icon {
  color: var(--accent);
}
header .btn-menu .menu-icon {
  font-size: 2.5rem;
  transform: scale(-1, 1);
  color: var(--text);
}
header .hide-btn-menu {
  transform: scale(0.3) rotate(180deg);
}
@media (min-width: 769px) {
  header {
    gap: 2.5rem;
    padding: 0rem 2.5%;
  }
  header nav {
    display: inline;
  }
  header .btn-menu {
    display: none;
  }
  header .toggle-container .toggle > svg {
    font-size: 1.5rem;
  }
}
@media (min-width: 1025px) {
  header {
    padding: 0rem 7.5%;
  }
}

.hide-header {
  top: -6rem;
}

.semi-transparent-header {
  background-color: var(--semi-transparent);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

.aside-menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  z-index: 50;
  height: 100%;
  justify-content: flex-end;
  background-color: transparent;
  align-items: center;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 10ms cubic-bezier(0.39, 0.575, 0.565, 1) 150ms;
}
.aside-menu .bg-div {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}
.aside-menu .menu-content {
  display: flex;
  width: 28rem;
  max-width: 80%;
  height: 100%;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(6rem);
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1) 200ms;
}
.aside-menu .menu-content .btn-close {
  position: absolute;
  top: 1.25rem;
  right: 5vw;
  background-color: transparent;
  cursor: pointer;
  transform: rotateZ(-180deg) scale(0);
  opacity: 0;
  transition: transform 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms;
}
.aside-menu .menu-content .btn-close:hover .close-icon {
  color: var(--accent);
}
.aside-menu .menu-content .btn-close .close-icon {
  font-size: 2.25rem;
  color: var(--text);
}
.aside-menu .menu-content nav {
  display: flex;
  justify-self: self-end;
  justify-content: center;
  align-items: center;
}
.aside-menu .menu-content nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}
.aside-menu .menu-content nav ul li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.aside-menu .menu-content nav ul li a {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
  text-decoration: none;
  color: var(--p-color);
}
.aside-menu .menu-content nav ul li a span {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--accent);
  font-family: var(--secondary-font);
}
.aside-menu .menu-content nav ul li a:hover {
  color: var(--accent);
}
@media (min-width: 769px) {
  .aside-menu {
    display: none;
  }
}

.show-aside {
  opacity: 1;
  pointer-events: all;
}
.show-aside .menu-content {
  opacity: 1;
  transform: translateX(0rem);
  pointer-events: all;
  transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 150ms;
}
.show-aside .menu-content .btn-close {
  transform: rotateZ(0deg) scale(1);
  opacity: 1;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 250ms;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7rem 0 7rem 0;
  min-height: 100vh;
  gap: 1.5rem;
}
.hero h1 {
  font-size: clamp(1.25rem, 6vw, 1.5rem);
  font-weight: 600;
  font-family: var(--secondary-font);
}
.hero h1 .name {
  display: block;
  font-size: clamp(2.75rem, 14vw, 4rem);
  font-weight: 700;
  font-family: var(--primary-font);
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.hero p {
  max-width: 47ch;
  margin-bottom: 1.25rem;
}
.hero .btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}
@media (min-width: 481px) {
  .hero .btn-container {
    flex-wrap: wrap;
  }
}
.hero .btn-container button, .hero .btn-container a {
  font-size: 1.25rem;
  padding: 1.125rem 2.25rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 9999px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero .btn-container button svg, .hero .btn-container a svg {
  display: none;
}
@media (min-width: 280px) {
  .hero .btn-container button svg, .hero .btn-container a svg {
    display: block;
  }
}
.hero .btn-container .btn-resume {
  background: var(--gradient);
  color: var(--btn-text);
}
.hero .btn-container .btn-contact {
  background-color: var(--secondary);
  color: var(--text);
}
@media (min-width: 481px) {
  .hero .btn-container {
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .hero h1 {
    font-size: clamp(1.5rem, 3vw, 1.75rem);
  }
  .hero h1 .name {
    font-size: clamp(4.5rem, 8vw, 5rem);
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.about img {
  width: 80%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 3/4;
  border-radius: 1.5rem;
  align-self: flex-start;
  justify-self: center;
  max-width: 22rem;
}
@media (min-width: 769px) {
  .about {
    grid-template-columns: 5fr 4fr;
  }
  .about img {
    grid-column: 2/2;
    width: 80%;
  }
  .about p {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.journey .journey-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
.journey .journey-container > div {
  border-radius: 2rem;
  padding: 1.5rem;
  background-image: var(--bg-gradient);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: flex-start;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}
.journey .journey-container > div h3 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  cursor: default;
}
.journey .journey-container > div .exp-item {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0rem;
}
.journey .journey-container > div .exp-item > .header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.journey .journey-container > div .exp-item > .header h4 {
  font-size: 1.25rem;
  color: var(--text);
}
.journey .journey-container > div .exp-item > .header .arrow {
  font-size: 1.5rem;
  flex-shrink: 0;
  margin-top: 1px;
  padding: 1px;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.journey .journey-container > div .exp-item > .header .rotate-180 {
  transform: rotateZ(180deg);
}
.journey .journey-container > div .exp-item .wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.journey .journey-container > div .exp-item .wrapper > div {
  overflow: hidden;
}
.journey .journey-container > div .exp-item .wrapper > div .location {
  font-weight: 700;
  color: var(--accent);
  line-height: 1.2;
}
.journey .journey-container > div .exp-item .wrapper > div ul {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  gap: 0.25rem;
}
.journey .journey-container > div .exp-item .wrapper > div ul li {
  list-style: none;
  font-size: 1.25rem;
  font-style: italic;
  font-family: var(--secondary-font);
  padding-left: 1.25rem;
  position: relative;
}
.journey .journey-container > div .exp-item .wrapper > div ul li::after {
  content: "‣";
  position: absolute;
  color: var(--accent);
  font-size: 1.25rem;
  left: 0;
  top: 0;
}
.journey .journey-container > div .exp-item .show-content {
  grid-template-rows: 1fr;
  margin-top: 1rem;
}
.journey .journey-container > div hr {
  height: 1px;
  background-color: var(--text);
}
@media (min-width: 280px) {
  .journey .journey-container > div .exp-item {
    padding: 1rem 0.5rem 1rem 2.5rem;
  }
  .journey .journey-container > div > div::after {
    position: absolute;
    top: 1rem;
    left: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--accent);
    flex-shrink: 1;
  }
  .journey .journey-container > div > :nth-child(3)::after {
    content: "01";
  }
  .journey .journey-container > div > :nth-child(5)::after {
    content: "02";
  }
}
@media (min-width: 769px) {
  .journey .journey-container {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .journey .journey-container .educ-container {
    animation-delay: 250ms;
  }
}

.skills {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
.skills .web-dev, .skills .others {
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  border-radius: 2rem;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  background-image: var(--bg-gradient);
  display: grid;
  row-gap: 2.5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  font-size: 3rem;
  justify-items: center;
  align-content: flex-start;
}
.skills .web-dev > h3, .skills .others > h3 {
  font-size: 1.75rem;
  grid-column: 1/-1;
  justify-self: flex-start;
}
.skills .web-dev div, .skills .others div {
  transform: scale(1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev div:hover, .skills .others div:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.skills .web-dev .html::after, .skills .others .html::after {
  content: "HTML";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .html:hover::after, .skills .others .html:hover::after {
  opacity: 1;
}
.skills .web-dev .css::after, .skills .others .css::after {
  content: "CSS";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .css:hover::after, .skills .others .css:hover::after {
  opacity: 1;
}
.skills .web-dev .js::after, .skills .others .js::after {
  content: "Javascript";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .js:hover::after, .skills .others .js:hover::after {
  opacity: 1;
}
.skills .web-dev .ts::after, .skills .others .ts::after {
  content: "Typescript";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .ts:hover::after, .skills .others .ts:hover::after {
  opacity: 1;
}
.skills .web-dev .tailwind::after, .skills .others .tailwind::after {
  content: "Tailwind";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .tailwind:hover::after, .skills .others .tailwind:hover::after {
  opacity: 1;
}
.skills .web-dev .sass::after, .skills .others .sass::after {
  content: "Sass";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .sass:hover::after, .skills .others .sass:hover::after {
  opacity: 1;
}
.skills .web-dev .react::after, .skills .others .react::after {
  content: "React";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .react:hover::after, .skills .others .react:hover::after {
  opacity: 1;
}
.skills .web-dev .next::after, .skills .others .next::after {
  content: "Next";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .next:hover::after, .skills .others .next:hover::after {
  opacity: 1;
}
.skills .web-dev .node::after, .skills .others .node::after {
  content: "Node";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .node:hover::after, .skills .others .node:hover::after {
  opacity: 1;
}
.skills .web-dev .express::after, .skills .others .express::after {
  content: "Express";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .express:hover::after, .skills .others .express:hover::after {
  opacity: 1;
}
.skills .web-dev .mongo::after, .skills .others .mongo::after {
  content: "MongoDB";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .mongo:hover::after, .skills .others .mongo:hover::after {
  opacity: 1;
}
.skills .web-dev .python::after, .skills .others .python::after {
  content: "Python";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .python:hover::after, .skills .others .python:hover::after {
  opacity: 1;
}
.skills .web-dev .csharp::after, .skills .others .csharp::after {
  content: "C#";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .csharp:hover::after, .skills .others .csharp:hover::after {
  opacity: 1;
}
.skills .web-dev .java::after, .skills .others .java::after {
  content: "Java";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .java:hover::after, .skills .others .java:hover::after {
  opacity: 1;
}
.skills .web-dev .git::after, .skills .others .git::after {
  content: "Git";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .git:hover::after, .skills .others .git:hover::after {
  opacity: 1;
}
.skills .web-dev .github::after, .skills .others .github::after {
  content: "Github";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .github:hover::after, .skills .others .github:hover::after {
  opacity: 1;
}
.skills .web-dev .figma::after, .skills .others .figma::after {
  content: "Figma";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .figma:hover::after, .skills .others .figma:hover::after {
  opacity: 1;
}
.skills .web-dev .mysql::after, .skills .others .mysql::after {
  content: "MySQL";
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  left: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.skills .web-dev .mysql:hover::after, .skills .others .mysql:hover::after {
  opacity: 1;
}
@media (min-width: 769px) {
  .skills {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .skills .web-dev, .skills .others {
    padding: 2rem 2rem 3rem 2rem;
  }
  .skills h2 {
    grid-column: 1/-1;
  }
}

.projects {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.projects .featured-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 2rem;
}
.projects .featured-projects .featured-item {
  display: grid;
  background-image: var(--bg-gradient);
  border-radius: 2rem;
  padding: 2rem;
  row-gap: 1.75rem;
  position: relative;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}
.projects .featured-projects .featured-item h3 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  font-weight: 800;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.projects .featured-projects .featured-item h3::before {
  content: "Featured Project";
  font-weight: 800;
  font-size: 1rem;
  color: var(--text);
  font-family: var(--secondary-font);
}
.projects .featured-projects .featured-item p {
  max-width: 40ch;
}
.projects .featured-projects .featured-item ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.projects .featured-projects .featured-item ul li {
  list-style: none;
  font-size: 1rem;
  border: 2px solid var(--accent);
  color: var(--accent);
  border-radius: 999px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-family: var(--primary-font);
}
.projects .featured-projects .featured-item .link-container {
  display: flex;
  gap: 1rem;
}
.projects .featured-projects .featured-item .link-container svg {
  color: var(--text);
  font-size: 2.25rem;
}
.projects .featured-projects .featured-item .link-container svg:hover {
  color: var(--accent);
}
.projects .featured-projects .featured-item .img-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  grid-row: 2/3;
  border-radius: 4px;
  overflow: hidden;
}
.projects .featured-projects .featured-item .img-container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid var(--secondary);
  pointer-events: none;
}
@media (min-width: 769px) {
  .projects .featured-projects .featured-item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    overflow: hidden;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .projects .featured-projects .featured-item h3 {
    grid-column: 1/2;
  }
  .projects .featured-projects .featured-item p {
    grid-row-start: 2;
    grid-column: 1/2;
  }
  .projects .featured-projects .featured-item ul {
    grid-row-start: 3;
    grid-column: 1/2;
    gap: 0.75rem;
    width: 90%;
  }
  .projects .featured-projects .featured-item .link-container {
    grid-row: 4/-1;
  }
  .projects .featured-projects .featured-item .img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2/-1;
    grid-row: 1/-1;
    height: 100%;
    width: 100%;
    justify-self: flex-end;
  }
}
.projects .further-projects {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  row-gap: 2rem;
}
.projects .further-projects .further-item {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  background-image: var(--bg-gradient);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}
.projects .further-projects .further-item .further-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .further-projects .further-item .further-top > svg {
  font-size: 2.5rem;
  color: var(--accent);
}
.projects .further-projects .further-item .further-top div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.projects .further-projects .further-item .further-top div a {
  display: flex;
  align-items: center;
}
.projects .further-projects .further-item .further-top div svg {
  color: var(--text);
  font-size: 2.25rem;
  cursor: pointer;
}
.projects .further-projects .further-item .further-top div svg:hover {
  fill: var(--accent);
}
.projects .further-projects .further-item h3 {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  font-size: 1.75rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.projects .further-projects .further-item h3::before {
  content: "Further Project";
  color: var(--text);
  font-weight: 800;
  font-size: 1rem;
  font-family: var(--secondary-font);
}
.projects .further-projects .further-item p {
  max-width: 40ch;
}
.projects .further-projects .further-item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.projects .further-projects .further-item ul li {
  list-style: none;
  border-radius: 999px;
  border: 2px solid var(--accent);
  padding: 0.5rem 1rem;
  color: var(--accent);
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--primary-font);
}
@media (min-width: 769px) {
  .projects .further-projects {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 2rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: var(--bg-gradient);
  padding: 3rem 2rem !important;
  margin: 6rem 0;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}
@media (min-width: 481px) {
  .contact {
    padding: 3rem 3rem !important;
  }
}
.contact h2 {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-weight: 900;
  text-align: center;
}
.contact p {
  text-align: center;
  max-width: 50ch;
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
}
.contact a {
  padding: 1.125rem 2.25rem;
  background-image: var(--gradient);
  border-radius: 999px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--btn-text);
  text-decoration: none;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.contact a svg {
  flex-shrink: 0;
  display: none;
}
@media (min-width: 280px) {
  .contact a svg {
    display: block;
  }
}

.footer {
  width: 100%;
  padding: 2rem 1.5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  opacity: 1;
  transform: translateY(0);
  transition: all 350ms ease-in-out 300ms;
}
.footer a {
  text-decoration: none;
  color: var(--text);
}
.footer .footer-desc {
  font-size: 1.25rem;
  line-height: 1.6;
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  transition: all 350ms ease-in-out;
}
.footer .footer-desc span {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-weight: 700;
}
.footer .footer-desc:hover {
  transform: translateY(-0.1rem);
}
.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 20rem;
}
.footer div a svg {
  font-size: 1.75rem;
  transition: all 350ms ease-in-out;
}
.footer div a svg:hover {
  color: var(--accent);
  transform: translateY(-0.1rem);
}

.footer-exit {
  opacity: 0;
  transform: translateY(-4rem);
  transition: all 350ms ease-in-out 300ms;
}

.bg-texture {
  position: fixed;
  inset: -4rem;
  background-image: url("../../assets/bgTexture.jpg");
  opacity: var(--bg-texture-opacity);
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-color: var(--background);
  background-blend-mode: var(--bg-blend-mode);
  background-position: center center;
}

.pre-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3rem;
  background-color: var(--background);
  z-index: 99999;
}
.pre-loader .logo {
  background-color: var(--background);
  aspect-ratio: 90/65;
  width: 10rem;
  height: auto;
  -webkit-mask: url("../../assets/preloader.svg") no-repeat;
          mask: url("../../assets/preloader.svg") no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  position: relative;
}
@media (min-width: 769px) {
  .pre-loader .logo {
    width: 12rem;
  }
}
.pre-loader .logo .animation {
  height: 100%;
  width: 100%;
  background-image: var(--gradient);
  animation: animateLogo 3000ms ease-in-out forwards;
  position: absolute;
}
@keyframes animateLogo {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.hide-pre-loader {
  display: none;
}